body {
    background-color: rgb(223, 223, 102);
    font-family: Arial;
    font-size:20px;
}

h1 {
    font-size: 40px
}

.first {
    color:  red;
}

#your-name {
    background-color: rgb(211, 211, 149);
    border : 5px solid #444
}